
.tailTop {

    height: 300px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:gray;
}

.header {
    align-self: baseline;
    margin-left: 10%;
    margin-bottom: 3%;
    font: 200% serif;
}

.search {

    display: flex;
    height: 40px;
    width: 80%;

    justify-content: space-between;
    align-items: center;
}

