.header {
    color: #41217c;
    text-align: center;
}

* {margin:0;padding:0}

.tail-top {
    background: url(../../../images/tail-top.gif) left top repeat-x #1d1d1d
}
.tail-bottom {
    background: url(../../../images/tail-bottom.gif) left bottom repeat-x;
}

html, body {
    height: 100%;
    width: 100%;
  }
  div {
    height: 100%;
    width: 100%;
  }